@namespace SpeedDial

@attribute [StyleSheet("code/base/ui/devinfo/DevInfo.scss")]

<div>
    <div class="group">
        <image class="eagle" src="materials/ui/logo_text_white.png" />
        <text class="site" text="https://eagleone.dev/" />
    </div>
    <text class="info" text=@Info />
</div>