@namespace SpeedDial

@using Sandbox.UI;
@using Sandbox.UI.Construct;

@attribute [StyleSheet("code/base/ui/devinfo/DevMenu.scss")]

<div>
    <div class="menu">
        <text text="Debug Toggles" />
        <ConvarToggleButton text="Toggle debug mode" on="True" off="False" convar="sd_debug" />
        <ConvarToggleButton text="Toggle playtest mode" on="True" off="False" convar="sd_playtest" />
        <ConvarToggleButton text="Toggle ui debug" on="True" off="False" convar="sd_debug_ui" />
        <ConvarToggleButton text="Toggle inf ammo" on="True" off="False" convar="sd_debug_infinite_ammo" />
        <ConvarToggleButton text="Toggle camera debug" on="True" off="False" convar="sd_debug_camera" />
        <ConvarToggleButton text="Toggle weapons debug" on="True" off="False" convar="sd_debug_weapons" />
        <ConvarToggleButton text="Toggle bots debug" on="True" off="False" convar="sd_debug_bots" />
        <text text="Gamemodes" />
        <button text="Start classic" @onclick=@( () => ConsoleSystem.Run( "sd_change_gamemode ClassicGamemode" )) />
        <button text="Start koth" @onclick=@( () => ConsoleSystem.Run( "sd_change_gamemode KothGamemode" ))/>
        <button text="Start onechamber" @onclick=@( () => ConsoleSystem.Run( "sd_change_gamemode OneChamberGamemode" )) />
        <button text="End Current Gamemode" @onclick=@( () => ConsoleSystem.Run( "sd_gamemode_destroy" )) />
        <text text="Bots" />
        <button text="Add Speed-Dial Bot" @onclick=@( () => ConsoleSystem.Run( "sd_bot" )) />
        <button text="Add Dummy Bot" @onclick=@( () => ConsoleSystem.Run( "bot_add -1" )) />
        <button text="Add Mimic Bot" @onclick=@( () => ConsoleSystem.Run( "bot_add 0 1" )) />
        <text text="Voting" />
        <button text="End Current Vote" @onclick=@( () => ConsoleSystem.Run( "sd_vote_end" )) />
        <button text="Start Gamemode Vote" @onclick=@( () => ConsoleSystem.Run( "sd_vote_gamemode_start" )) />
    </div>
</div>