ammopanel {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;

    &.active{
        opacity: 0;
    }

    .countdown {
        justify-content: center;
        align-items: center;
        position:absolute;
        width:100%;
        height:100%;

        .timer {
            position: absolute;
            font-family: VCR_OSD_MONO;
            color: #fff;
            font-size: 96px;
            text-align: center;
            font-weight: bold;
            align-items: center;
            justify-content: center;
        }
    }

    .pickuppanel {
        width: 100%;
        height: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;

        .medlabel {
            position: absolute;
            font-family: VCR_OSD_MONO;
            color: #fff;
            font-size: 96px;
            text-align: center;
            font-weight: bold;
            align-items: center;
            justify-content: center;


            .medFlavor {
                position: absolute;
                top: 100px;
                font-size: 48px;
            }
        }

        .pickupLabel {
            font-family: VCR_OSD_MONO;
            color: #fff;
            font-size: 25px;
            bottom: 5%;
            text-align: center;
            font-weight: bold;
        }
    }

    .counter {
        width: 10%;
        aspect-ratio: 1;
        right: 0px;
        bottom: 0px;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        .ammoLabel {
            font-family: VCR_OSD_MONO;
            color: #fff;
            font-size: 90px;
            text-align: center;
            //text-shadow: 3px 0px 8px #FFA3FF;
            //text-shadow: -3px 0px 8px #ADFFE2;
            &.ammoLeft {
                font-size: 32px;
            }
        }
    }
}
