characterselect {
    background: rgb(65, 65, 65);
    background: radial-gradient(circle, rgba(145,145,145,0.6026785714285714) 0%, rgba(54, 54, 54, 0.695) 36%, rgba(0,0,0,1) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    &.active {
        opacity: 1;
    }



    .bars {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -3;

        .bar {
            width: 100%;
            height: 1%;
            background-color: #000;
            transition: height 0.5s ease-out;
            position: absolute;

            .timer {
                position: absolute;
                font-family: VCR_OSD_MONO;
                color: #fff;
                font-size: 60px;
                right: 20px;
                bottom: -60px;
            }

            .pause {
                position: absolute;
                font-family: VCR_OSD_MONO;
                color: #fff;
                font-size: 60px;
                left: 20px;
                bottom: -60px;
            }

            .dater {
                position: absolute;
                font-family: VCR_OSD_MONO;
                color: #fff;
                font-size: 60px;
                right: 20px;
                text-align: right;
                top: -120px;
            }

            &.active {
                height: 12%;
            }

            &.top {
                top: 0px;
            }

            &.bottom {
                bottom: 0px;
            }
        }
    }

    .backportrait {
        position: absolute;
        height: 90%;
        aspect-ratio: 0.5992395437262357;
        left: 200px;
        bottom: 0px;
        align-items: center;
        justify-content: center;
        background-image-tint: #fc0;
        opacity: 0.5;
        color: #ff0;
    }

    .portrait {
        position: absolute;
        height: 90%;
        aspect-ratio: 0.5992395437262357;
        left: 200px;
        bottom: 0px;
        align-items: center;
        justify-content: center;
        z-index: -2;

        .title {
            position: absolute;
            font-family: VCR_OSD_MONO;
            color: #fff;
            font-size: 72px;
            text-align: center;
            top: 85px;
        }

        .description {
            position: absolute;
            font-family: VCR_OSD_MONO;
            color: #fff;
            font-size: 24px;
            width: 400px;
            text-align: left;
            right: -325px;
            justify-content: center;
            align-items: center;

            .loadout {
                position: absolute;
                font-family: VCR_OSD_MONO;
                color: #fff;
                font-size: 32px;
                font-weight: bold;
                width: 400px;
                text-align: left;
                bottom: -40px;
            }
        }
    }
}
