characterselect{
    background-color: rgba(#aaa,0.5);
    position: absolute;
    width:100%;
    height:100%;

    .portrait{
        position: absolute;
        width: 30%px;
        
        aspect-ratio: 0.6246851385390428;

        left: 200px;
		bottom: 0px;
        align-items: center;
        justify-content: center; 
        .title{
            position: absolute;
            font-family: VCR OSD Mono;
            color: #fff;
            font-size: 72px;
            text-align: center;
            top: 25px;
        }

        .description{
            position: absolute;
            font-family: VCR OSD Mono;
            color: #fff;
            font-size: 24px;
            width: 400px;
            text-align: left;
            right:-325px;

            justify-content: center;
            align-items: center;

            .loadout{
                position: absolute;
                font-family: VCR OSD Mono;
                color: #fff;
                font-size: 32px;
                font-weight: bold;
                width: 400px;
                text-align: left;
                bottom: -120px;
                
            }
        }
    }



}