crosshair {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: none;

    .cross {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #fff;
        position: absolute;
        justify-content: center;
        align-items: center;



        .hair {
            background-color: #fff;
            position: absolute;
            width: 3px;
            height: 14px;
            opacity:1;
            transition: opacity 0.2s ease-out;

            &.inactive {
                opacity: 0;
            }
        }
    }
}
