endround {
    opacity: 0;
    background-color: rgba(#000,0.8);
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    playerpanel {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;


        .playerimage {
            position: absolute;
            height: 85%;
            aspect-ratio: 0.5992395437262357;
            bottom: 0px;
            align-items: center;
            justify-content: center;


            &.right {
                right: 10%;
                bottom: -96px;
                transform: scale(0.9);
            }

            &.left {
                left: 10%;
                bottom: -96px;
                transform: scale(0.8);
            }

            .name {
                position: absolute;
                font-family: VCR_OSD_MONO;
                color: #fff;
                font-size: 48px;
                text-align: center;
                white-space: nowrap;
                justify-content: center;
                align-items: center;
                bottom: 150%;

                .sublabel {
                    position: absolute;
                    font-size: 20px;
                    font-family: VCR_OSD_MONO;
                    color: #fff;
                    font-size: 72px;
                    bottom: 54px;
                    color: #C9B037;
                    text-shadow: 0px 0px 10px #FFEFAA;

                    &.right {
                        color: #D7D7D7;
                        text-shadow: 0px 0px 10px #FFFFFF;
                    }

                    &.left {
                        color: #CC8D35;
                        text-shadow: 0px 0px 10px #FF9A0C;
                    }
                }
            }
        }
    }

    &.active {
        opacity: 1;
    }
}
