!sd_test.vpk
!sd_lab_player_shoot_height.vpk
!sd_height_test.vpk
*materials/*/*/*.vmat_c
*models/*/*/*.vmdl_c
materials/default
*.bat
*.los
*.py
*.rar
*.sound_c
*.surface_c
*.vanmgrph_c
*.vmat_c
*.vmdl_c
*.vp
*.vsnd_c
*.vtex_c
*.zip
*.vpk
.codegen/
.editorconfig
.intermediate
accesslist.txt
code/*.csproj
code/Properties/
materials/default/*
obj/
tools_asset_info.bin
