*.bat
*.los
*.py
*.vpk
!sd_test.vpk
!sd_test.los
*.zip
.codegen/
.editorconfig
accesslist.txt
code/*.csproj
code/Properties/
materials/default/*
obj/
tools_asset_info.bin
*.vtex_c
*.vmat_c
*.sound_c
*.vsnd_c
*.surface_c
*.vanmgrph_c
*.vmdl_c
*.vpcf_c
.intermediate