@attribute [StyleSheet("code/classic/ui/drug/DrugPanel.scss")]

@namespace SpeedDial.Classic.UI

<root>
    <div class="progressbar" @ref="ProgressBar">
        <div class="gradient"/>
    </div>
    <text @ref="DrugName" class="druglabel"/>
</root>