@import "/classic/ui/_vars/globals.scss";

drugpanel {
    width: 100%;
    height: 100%;
    position: absolute;

    justify-content: flex-start;

    .progressbar {
        width: 100%;
        height: 15px;
        position: absolute;

        bottom: 0px;
        overflow: hidden;

        .gradient {
            width: 100vw;
            height: 15px;
            position: absolute;

            bottom: 0px;
            left: 0px;
            background-image: linear-gradient(to left, rgba($vhs_cyan, 1), rgba($vhs_magenta, 1));
        }
    }
}
