@namespace SpeedDial.Classic.UI

@attribute [StyleSheet("code/classic/ui/worldhints/WorldHints.scss")]

<root>
    <div class="pickup" @ref="PickupPanel">
        <inputglyph btn="SecondaryAttack" class="glyph" />
        <text class="pickuplabel" text=@PickupText />
    </div>
</root>