@import "/classic/ui/vars/_sd_colors.scss";

worldhints {
    width: 100%;
    height: 100%;
    position: absolute;

    label {
        color: white;
        font-family: FFFFORWARD;
        text-shadow: -1px -1px 1px $vhs_cyan, 2px 2px 1px $vhs_magenta;
    }

    .pickup {
        width: 200px;
        height: 50px;
        align-items: center;
        justify-content: center;
        position: absolute;

        .pickuplabel {
            font-size: 13px;
            transform: translateX(-50%);
        }
    }
}
