@namespace SpeedDial.Koth.UI

@attribute [StyleSheet("code/koth/ui/KothHillPositionElement.scss")]

<root>
    <div class="test" @ref="DivPanel">
        <image class="icon" src="materials/ui/misc/crosshair.png" @ref="HillIcon" />
    </div>
</root>