@import "/classic/ui/_vars/globals.scss";

votingscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    //
    pointer-events: all;
    //
    justify-content: center;
    align-items: center;
    //
    opacity: 0;
    bottom: -100%;
    transition: all 3s ease-in-out;
    backdrop-filter: blur(20px);

    &.open {
        opacity: 1;
        bottom: 0%;
    }

    .canvas {
        width: 70%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .header {
            background-color: gray;
            border: 3px solid black;
            position: absolute;
            top: 50px;

            .title {
                font-size: 35px;
            }
        }

        .body {
            width: 70%;
            justify-content: center;

            .items {
                background-color: gray;
                border: 3px solid black;
                width: 100%;
                justify-content: space-around;
            }
        }

        .footer {
            background-color: gray;
            border: 3px solid black;
            position: absolute;
            bottom: 50px;

            .players {
            }
        }
    }
}
