@namespace SpeedDial.OneChamber.UI

@using SpeedDial.Classic.UI

@inherits SpeedDial.Classic.UI.ClassicHud

@attribute [StyleSheet("classic/ui/root.scss")]

<root>
    <ChatBox />
    <voicelist />

    <div class="override-state-game">
        <WorldHints />
        <ScreenHints />

        <ClassicKillFeed />

        <OneChamberWeaponPanel />
        <LivesPanel />

        <OneChamberRoundPanel />
    </div>

    <OneChamberWinScreen />

    <OneChamberScoreboard />

    <div class="override-state-cursor">
        <Crosshair />
    </div>
</root>