@import "/classic/ui/_vars/globals.scss";

classickillfeed {
	position: absolute;
	top: 15px;
	right: 15px;
	flex-direction: column-reverse;
	width: 500px;
	font-size: 12px;
	font-weight: 500;
	align-items: flex-end;
}