drugeffects {
    position: absolute;
    width: 100%;
    height: 100%;
   //backdrop-filter-saturate: 1;
   //backdrop-filter-contrast: 1;
   //backdrop-filter-brightness: 1;
   //backdrop-filter-hue-rotate: 0;
   //backdrop-filter-invert: 0;
   //backdrop-filter-blur: 0px;
}
