@import "/classic/ui/_vars/globals.scss";

classichud {
	&.state-visible-game {
		.override-state-game {
			opacity: 1;
		}
	}

	&.state-visible-cursor {
		.override-state-cursor {
			opacity: 1;
		}
	}

	&.state-visible-warmup {
		.override-state-warmup {
			opacity: 1;
		}
	}
}

.override-state-game {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 0.4s ease-in;
}

.override-state-cursor {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 0.2s ease-in;
}

.override-state-warmup {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 0.2s ease-in;
}

text, label {
	font-family: $font;
	color: white;
}

image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
