@namespace SpeedDial.Classic.UI

@attribute [StyleSheet("classic/ui/characterselect/CharacterPanel.scss")]

<root>
    <div class="portraitcontainer">
        <div class="portraitback"/>
        <image @ref="Portrait" class="portrait"/>
    </div>
    <text @ref="CharacterName" class="name"/>
    <text @ref="Description" class="description"/>
    <image @ref="Weapon" class="weapon"/>
</root>