@attribute [StyleSheet("code/classic/ui/weapon/WeaponPanel.scss")]

@namespace SpeedDial.Classic.UI

<root>
    <div class="weapon" @ref="Panel">
        <text class="clip" @ref="AmmoLabel"></text>
        <text class="weaponname" @ref="WeaponLabel"></text>
    </div>
</root>